.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 360px;
  background-color: #fff;
  border-radius: 16px;
  padding: 36px 16px;
}
.modal-content {
  text-align: center;
}
.btn-line {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.cancel-btn {
  padding: 0 16px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #dcdfe6;
  color: #606266;
  border-radius: 14px;
  font-size: 14px;
  cursor: pointer;
}
.confirm-btn {
  margin-left: 28px;
  padding: 0 16px;
  height: 28px;
  line-height: 28px;
  background-color: #409eff;
  color: #ffffff;
  border-radius: 14px;
  font-size: 14px;
  cursor: pointer;
}
